.modal{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: hsla(0, 0%, 62%, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.order{
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    max-height: 600px;
    overflow-y: auto; /* Enable vertical scrolling */
}

.title{
    font-size: 2.3rem;
    width: 200px;
    font-weight: 700;
    color: hsl(14, 65%, 9%);
}

.text{
    color: hsl(7, 20%, 60%);
    margin-bottom: 20px;
}

.item{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 0.9rem;
    background: hsl(20, 50%, 98%);
    border-bottom: 1px solid hsl(13, 31%, 94%);
}


.itemInfor{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50px auto;
}

.itemInfor img{
    grid-area: 1/1/3/2;
    display: block;
    width: 100%;
}

.itemName{
    font-weight: 500;
    grid-area: 1/2/2/4;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.qty{
    color: hsl(14, 86%, 42%);
    font-weight: 500;
}

.total{
    font-weight: 700;
    color: hsl(12, 20%, 44%);
}

.itemTotal{
    font-weight: 700;
    font-size: 1rem;
    
}

.orderTotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(20, 50%, 98%);
    padding: 20px;
    margin-bottom: 20px;

}

.totalNumber{
    font-size: 1.5rem;
    font-weight: 700;
}

.startNewBtn{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-weight: 500;
    font-size: 1rem;
    background: hsl(14, 86%, 42%);
    color: hsl(20, 50%, 98%)
}

.startNewBtn:hover {
    cursor: pointer;
    opacity: 0.8;
    animation: ease-in-out;
    font-family: "Red Hat Text", sans-serif;
  }

@media (min-width:40rem) {
    .order{
        width: 600px;
    }

    .title{
        width: 100%;
    }
}